@charset "utf-8";


/* Contents */
.daily-archive {
    margin: 4em 0 0 2em;
}
.daily-archive__item {
    margin-bottom: 0.5em;
}
/* .daily-archive__item a {
    display: block;
} */
/* .daily-icon {
    display: inline-flex;
    flex-direction: column;
} */
.title {
    opacity: 0;
    transition: 0.2s;
}
.title::before {
    content: '';
    display: inline-block;
    width: 8%;
    border-bottom: 1px solid;
    margin: 0 0.5em;
}
.daily-archive__item a:hover + .title {
    opacity: 1;
}
.daily-num {
    /* height: 0; */
    text-align: center;
}
.daily-num::before {
    content: '';
    background-image: url(./../../img/moon.svg);
    width: 15px;
    display: inline-block;
    height: 14px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 3px;
}

.essay {
    font-size: 0.9em;
}
.essay p {
    text-indent: 1em;
    line-height: 2.5;
}
.source {
    margin: 4em 2em;
    font-size: 0.7em;
}
.source a {
    text-decoration: underline;
}
.date {
    text-align: right;
    font-size: 0.7em;
}
.date::before {
    content: '';
    width: 10em;
    border-top: 1px solid;
    display: inline-block;
    margin-right: 1em;
    position: relative;
    bottom: 2px;
}

@media screen and (max-width: 450px) {
    .daily-archive {
        font-size: 0.8em;
    }
}