@charset "utf-8";
@import url(./normalize.css);

* {
  box-sizing: border-box;
}
/* html,body {
  width: 100%;
  height: 100%;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 22px;
  -webkit-text-size-adjust: 100%;
  background: #afb2b3;
  color: #fff;
  background-attachment: fixed;

}
#root {
  width: 100%;
  /* height: 100%; */
  padding: 5%;
}
.App {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /* height: 100%;
  overflow: hidden; */
}

h2 {
  margin: 0;
  top: 0.5em;
  position: absolute;
  font-size: 1.1em;
  font-family: 'Panchang';
  letter-spacing: 2px;
}


a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  opacity: 0.6;
}
li {
  list-style: none;
}
ul,ol,dl,figure {
  padding: 0;
  margin: 0;
}

.wrap {
  position: relative;
  display: grid;
  grid-template-columns: auto 160px;
  max-width: 800px;
  margin: 2em auto 0;
  width: 100%;
}
.small {
  font-size: 0.7em;
}
.textCenter {
  text-align: center;
  display: block;
}
.textRight {
  text-align: right;
}
.flip {
  transform: scaleX(-1);
  display: inline-block;
}
/* ------------------------------------- */

.canvas-area, .daily-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  top: 3em;
  max-width: 500px;
  max-height: 500px;
  left: 3em;
}
.canvas-area {
  border: 1px solid;
  /* position: absolute; */
}
.contents {
  width: 90%;
  height: auto;
  /* position: absolute;
  top: 0; */
}


/* Header */
header {
  /* padding: 0 2em; */
  max-width: 800px;
  margin: 0 auto;
  text-align: right;
  width: 100%;
}
.page-name {
  text-align: right;
  font-family: 'Panchang';
  letter-spacing: 2px;
  font-size: 2.5em;
  line-height: 1.4;
  transition: 2s;
}
/* .middle {
  max-width: 0;
  opacity: 0;
  position: absolute;
  transition: 2s all;
  animation: 4s ghost ease;
}
.page-name:hover .middle {
  max-width: 100%;
  opacity: 1;
  position: relative;
}
@keyframes ghost {
  0% {
    bottom: -10px;
  }
  100% {
    bottom: 0;
  }
} */
.page-name .small {
  display: none;
}
.page-num {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  font-family: 'Author';
}

.daily {
  width: 90%;
  margin: 0 auto;
  /* height: 60%; */
  overflow-y: scroll;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;       /* Firefox 対応 */
  min-height: 70vh;
  position: relative;
  max-width: 1366px;
}

.daily::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}
.daily-canvas canvas {
  margin: 0 auto;
  display: block;
  width: 80% !important;
  height: 80% !important;
}
/* .daily::before {
  content: 'Top';
  top: 13%;
  position: absolute;
} */
.page {
  margin-top: 6em;
}
.page-link {
  display: flex;
  flex-direction: column;
  /* writing-mode: vertical-rl;
  text-orientation: sideways; */
}
.page-link__item {
  margin: 0.5em 0;
  font-family: 'Kiri Maru';
  font-size: 0.8em;
  letter-spacing: 1px;
  line-height: 1.5;
  position: relative;
}
.page-link__item::before {
  content: '\025b6';
  display: inline-block;
  /* width: 40px; */
  /* border-top: 1px solid; */
  position: absolute;
  left: -20px;
}

/* PageNation */
.navigation {
  position: relative;
  top: -65%;
}
.navigation .page-navi {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
/* 
.page-navi {
  display: flex;
  justify-content: space-between;
} */
.page-navi__link {
  position: relative;
  display: block;
  transition: 0.5s;
  width: 40px;
  height: 40px;
}
.page-navi__link:hover {
  opacity: 0.3;
}

.border__top, .border__bottom, .border__top--prev, .border__bottom--prev {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: aliceblue;
}
.border__top {
  transform: rotate(45deg);
}
.border__top--prev {
  transform: rotate(-45deg);
}
.border__bottom {
  transform: rotate(-45deg);
  position: absolute;
  top: 27px;
  left: 0;
}
.border__bottom--prev {
  transform: rotate(45deg);
  position: absolute;
  top: 27px;
  left: 0;
}

/* Top */
.content {

  font-size: 12px;
  letter-spacing: 1px;
  white-space: nowrap;
  font-family: 'Panchang';
}
.content-link {
  text-shadow: 1px 1px 6px #1a1a1a;
}

.content-link:hover{
  border-bottom: 1px solid;
  opacity: 1;
}
/* Footer */
footer {
  position: relative;
  top: 3em;
}
/*--- アニメーション ---*/

@media screen and (max-width: 845px) {
  .navigation {
    top: -10%;
  }
  .page-navi__link {
    width: 20px;
    height: 20px;
  }
  .border__bottom, .border__bottom--prev 
  {
    top: 13px;
  }
  .daily-canvas {
    margin-bottom: 4em;
    right: 0;
    left: 0;
  }
}
@media screen and (max-width: 450px) {
  .App {
    display: block;
    /* padding: 10px; */
  }
  .page-name {
    font-size: 1.2em;
    margin-top: 1em;
    padding-right: 0.5em;
  }
  h2 {
    font-size: 0.9em;
  }
  .wrap {
    grid-template-columns: none;
    grid-template-rows: 1fr auto;
    max-width: 350px;
  }
  .canvas-area, .daily-canvas {
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
  }
  .canvas-area {
    left: 1em;
  }
  .daily-canvas {
    margin-bottom: 4em;
  }
  .daily {
    /* min-height: 65vh; */
    width: 100%;
    /* height: 60%; */
  }
  .page {
    margin: 0 1em;
  }
  footer {
    top: 0;
  }
}